link(href="http://apps.bdimg.com/libs/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet")
link(rel="icon" href="/public/img/movie15.ico" type="image/x-icon")
script(src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js")
script(src="http://apps.bdimg.com/libs/bootstrap/3.3.4/js/bootstrap.min.js")
script(src="/public/js/login.js")
script(src="/public/js/register.js")
