extends ../layout

block content
	.container
		.row
			each item in movies
				.col-md-3.col-xs-6
					.thumbnail
						a(target="_blank",href="/movie/#{item.id}")
							img(src="#{item.poster}",alt="#item.title",style="height:350px;")
						.caption.text-center
							h4 #{item.title}
							p: a.btn.btn-primary.btn-block(target="_blank",href="/movie/#{item.id}",role="button") 观看预告片			