extends ../layout

block content
	link(rel="stylesheet" href="/public/css/easyui.css")
	link(rel="stylesheet" href="/public/css/icon.css")
	if user && user.role >0
		#dg
	script(src="/jquery/dist/jquery.easyui.min.js")
	script(src="/jquery/dist/easyui-lang-zh_CN.js")			
	script(src="/public/js/userlist.js")